.resultsdisplayoverlay {
    width: 100vw;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    opacity: 95%;
    background: white;
}

.resultsdisplay {
    overflow: auto;
    max-height: 100%; 
    max-width: 100%; 
    box-sizing: border-box;
    padding: 10%;
}

.resultsspan {
    white-space: pre-wrap;
}